/* 머리라인 */
.titlesize {
    width: 100%;
    height: 70px;
}

.titlesize > div {
    padding-left: 20px;
}

.bigtitl {
    font-size: 35px;
    font-weight: 1000;
}
.smalltitl {
    font-size: 15px;
}
/* 몸통라인 */
.bodycontainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.bodytop {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#backbtn {
    padding-right: 5px;
}
.nowtm {
    margin-top: 10px;
}

.bodybottom {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#nttitle {
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 15px;
    background-color: lightgray;
}
#nttitle::placeholder { 
    font-weight: bold;
    color: darkslategray;
    font-size: 15px;
}

#ntmemo {
    height: 200px;
    border-radius: 5px;
    padding-left: 5px;
    background-color: lightgray;
    resize: none;
    font-size: 15px;
}
#ntmemo::placeholder { 
    font-weight: bold;
    color: darkslategray;
    font-size: 15px;
}
/* 버튼라인 */
.btncontainer {
    display: flex;
    justify-content: space-between;
}
.btncontainer > button {
    margin-left: 20px;
    margin-right: 20px;
}